# ignore all files in the bin folder
bin/
# ignore all files in the obj folder
obj/
# ignore all files in the logs folder
logs/
# ignore all logs *.obj
*.obj

# do not include the migrations folder
Migrations/

# do not include the database file
DfwUniversityDB.db
